<% active_nav_item :women_in_tech %>
<div class="content">
<h1>Be part of the solution.</h1>
<h2>Women in Tech</h2>
<p class="intro">There’s a lot of talk about how there’s not enough women in tech but not much agreement on what to do to improve the situation.</p>

<p>2014 saw some big companies publishing their diversity statistics in an effort to highlight the work they need to do.</p>

<p><strong>Coder Factory is taking a stand and making a difference. You can too.</strong></p>



<blockquote>
<h2>Six Reasons we need more Women in Tech</h2>
<ol>
<li>Because we need more people in tech, period.</li>
<li>Because there will be less sexual harassment and discomfort when there's more women around.</li>
<li>Because there will be less discrimination if it's not considered unusual for women to pursue tech careers.</li>
<li>Because more women in tech now will encourage more girls to pursue their own interest in tech (and will therefore enable greater equality).</li>
<li>Because we probably have a lack of innovation in certain (female oriented) sub-industries because there are fewer women in tech.</li>
<li>Because women may think, act, or approach problems differently.</li>
</ol>
<small><a href="http://qr.ae/6PFZn">Gayle Laakmann McDowell (Quora)</a></small>
</blockquote>
</div>